<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="JWT:Issuer" value="ProjectTracker"/>
    <add key="JWT:Audience" value="ProjectTrackerUsers"/>
    <add key="JWT:Secret" value="CHANGE_ME_TO_A_LONG_RANDOM_SECRET"/>
    <add key="PasswordSalt" value="s@lt123!"/>
  </appSettings>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=DESKTOP-T4KORJQ\SQLEXPRESS01;Initial Catalog=ProjectTracker;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
    <httpModules>
      <add name="AuthModule" type="App_Code.AuthModule, App_Code"/>
    </httpModules>
    <customErrors mode="Off"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <add name="AuthModule" type="App_Code.AuthModule, App_Code" />
    </modules>
    <handlers>
      <add name="AssemblyResourceLoader" path="WebResource.axd" verb="GET,HEAD" type="System.Web.Handlers.AssemblyResourceLoader" preCondition="integratedMode" />
    </handlers>
  </system.webServer>
</configuration>
